.show-table{
    color: #000000;
    border-collapse: separate;
    font-size: 12px;
    tbody>tr{
        height:25px;
        td{
            border-width: 0 1px 1px 0;
            border-style: dotted;
            margin: 0;
            padding: 0;
        }
    }
}